
<b>{{ user_account.account }}</b>
<p>Budget: {{ user_account.account.budget }} </p>
<p>Balance: {{ user_account.account.balance }} </p>
<p>Reset Day: {{ user_account.account.reset_date }} </p>
<hr>
<ul>
    <li><a href="{% url 'budget:account_settings' user_account.id %}">Account Settings</a></li>
    <li><a href="{% url 'budget:transaction' user_account.id %}">Add Transaction</a></li>
    <li><a href="{% url 'budget:history' user_account.id %}">View Account History</a></li>
    <li><a href="{% url 'budget:statistics' user_account.id %}">View Account Statistics</a></li>
</ul>
