
<b>Account Information</b>
{% if user_account %}
    <p>Name: {{  user_account.account }} </p>
    <p>Budget: {{ user_account.account.budget }} </p>
    <p>Current Balance: {{ user_account.account.balance }} </p>
    <p>Reset Day: {{ user_account.account.resetDate }} </p>
    <hr>
    <b>Envelopes</b>
    <table>
            <th>Name</th>
            <th>Category</th>
            <th>Budget</th>
            <th>Current Balance</th>
            <th>Actions</th>
        </tr>
        {% for envelope in envelopes %}
            <tr>
                <th>{{ envelope.name }}</th>
                <th>{{ envelope.category }}</th>
                <th>{{ envelope.budget }}</th>
                <th>{{ envelope.current_sum }}</th>
                <th> </th>
            </tr>
    {% endfor %}
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>Add</th>
            </tr>
    </table>
    <hr>
    <b>Associated Users</b>
    {% if user_account.permission.id == 1 %}
        <table>
            <th>User Name</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Permission</th>
            <th>Actions</th>
        </tr>
        {% for user in other_users %}
            <tr>
                <th>{{ user.user.email }}</th>
                <th>{{ user.user.first_name }}</th>
                <th>{{ user.user.last_name }}</th>
                <th>{{ user.permission }}</th>
                <th> </th>
            </tr>
        {% endfor %}
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>Add</th>
            </tr>
        </table>
    {% else %}
        <p>No permission to see other users</p>
    {% endif %}

{% else %}
    <p>No account found</p>
{% endif %}
