
<b>Transaction History For Account: {{ user_account.account }} </b>
<table>
    <th>Date</th>
    <th>User</th>
    <th>Envelope</th>
    <th>Category</th>
    <th>Type</th>
    <th>Description</th>
    <th>Sum</th>
    <th>Comment</th>
        </tr>
        {% for transaction in transactions %}
            <tr>
                <th>{{ transaction.date }}</th>
                <th>{{ transaction.user }}</th>
                <th>{{ transaction.envelope }}</th>
                <th>{{ transaction.envelope.category }}</th>
                <th>{{ transaction.type_str }}</th>
                <th>{{ transaction.description }}</th>
                <th>{{ transaction.sum }}</th>
                <th>{{ transaction.comments }}</th>
            </tr>
    {% endfor %}
</table>

