<head>
<style>
th, td {
    padding: 5px;
}
th {
    text-align: left;
}
</style>
</head>
<body>
<h2>Transaction History For Account: {{ user_account.account }} </h2>

<table style="width:100%">
    <th>Date</th>
    <th>User</th>
    <th>Envelope</th>
    <th>Category</th>
    <th>Type</th>
    <th>Description</th>
    <th>Sum</th>
    <th>Comment</th>
        </tr>
        {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.date.date }}</td>
                <td>{{ transaction.user.first_name}} {{ transaction.user.last_name }}</td>
                <td>{{ transaction.envelope }}</td>
                <td>{{ transaction.envelope.category }}</td>
                <td>{{ transaction.type_str }}</td>
                <td>{{ transaction.description }}</td>
                <td>{{ transaction.sum }}</td>
                <td>{{ transaction.comments }}</td>
            </tr>
    {% endfor %}
</table>
</body>

