
<b>User Information</b>
{% if user %}
    <p>Email: {{  user.userName }} </p>
    <p>First Name: {{ user.firstName }} </p>
    <p>Last Name: {{ user.lastName }} </p>
     {% if default_account.isDefault %}
          <p>Default Account: {{ default_account.accountID }} </p>
     {% else %}
         <p>No default account </p>
     {% endif %}
    <hr>
    <b>Accounts</b>
    <table>
        <tr>
            <th>Account</th>
            <th>Permission</th>
            <th>Balance</th>
            <th>Actions</th>
        </tr>
        {% for account in accounts %}
            <tr>
                <th>{{ account.accountID }}</th>
                <th>{{ account.permissionID}}</th>
                <th>{{ account.accountID.balance}}</th>
                <th>
                    {% if account.permissionID.id == 1 %}
                        <a href="{% url 'budgetApp:accountSettings' account.id %}">Edit</a>
                    {% endif %}
                    <a href="{% url 'budgetApp:history' account.id %}">View</a>
                </th>

            </tr>
    {% endfor %}
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th>Add</th>
            </tr>

    </table>
{% else %}
    <p>No user found</p>
{% endif %}
