
<b>User Information</b>
{% if user %}
    <p>Email: {{  user.email }} </p>
    <p>First Name: {{ user.first_name }} </p>
    <p>Last Name: {{ user.last_name }} </p>
    <a href="{% url 'budget:change_user_info' %}">Change User Info</a>
     {% if default_account.is_default %}
          <p>Default Account: {{ default_account.account }} </p>
     {% else %}
         <p>No default account </p>
     {% endif %}
    <hr>
    <b>Accounts</b>
    <table>
        <tr>
            <th>Account</th>
            <th>Permission</th>
            <th>Balance</th>
            <th>Actions</th>
        </tr>
        {% for account in accounts %}
            <tr>
                <th>{{ account.account }}</th>
                <th>{{ account.permission}}</th>
                <th>{{ account.account.balance}}</th>
                <th>
                    {% if account.permission.id == 1 %}
                        <a href="{% url 'budget:account_settings' account.id %}">Edit</a>
                    {% endif %}
                    <a href="{% url 'budget:history' account.id %}">View</a>
                </th>

            </tr>
    {% endfor %}
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th>Add</th>
            </tr>

    </table>
{% else %}
    <p>No user found</p>
{% endif %}
