{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'budgetApp/style.css' %}" />

<head>
</head>

<body>
<h1>User Settings</h1>
<b>User Information</b>
{% if user %}
    <p>Email: {{  user.email }} </p>
    <p>First Name: {{ user.first_name }} </p>
    <p>Last Name: {{ user.last_name }} </p>
    <a href="{% url 'budget:change_user_info' %}">Change User Info</a>
     {% if default_account.is_default %}
          <p>Default Budget: {{ default_account.budget }} </p>
     {% else %}
         <p>No default budget </p>
     {% endif %}
    <hr>
    <b>Budgets</b>
    <table>
        <tr>
            <th>Budget Name</th>
            <th>Permission</th>
            <th>Balance</th>
            <th>Actions</th>
        </tr>
        {% for user_budget in user_budgets %}
            {% if user_budget.budget.is_inactive is False %}
                <tr>
                    <td>{{ user_budget.budget }}</td>
                    <td>{{ user_budget.permission_to_string}}</td>
                    <td>{{ user_budget.budget.balance}}</td>
                    <td>
                        {% if user_budget.permission == 1 %}
                            <a href="{% url 'budget:budget_settings' user_budget.id %}">Edit</a>
                        {% endif %}
                        <a href="{% url 'budget:budget_view' user_budget.id %}">View</a>
                    </td>

                </tr>
            {% endif %}
    {% endfor %}
    </table>
    <hr>
    <b>Create New Budget</b>
    <form method="post">
        {% csrf_token %}
        <p><label>Name:</label>
        <input type="text" name="name" id="name"/></p>
         <p><label>Reset Day:</label>
        <input type="number" name="reset_day" id="reset_day"/></p>
        <input type="submit" value="Save" />
    </form>
{% else %}
    <p>No user found</p>
{% endif %}
<p><a href="{% url 'budget:log-out' %}">Logout</a></p>
</body>