{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'budgetApp/style.css' %}" />

<head>
</head>

<body>
    <h1>Budget Account Settings</h1>
    <h2>Budget Information</h2>
    {% if user_budget %}
        <p>Name: {{  user_budget.budget }} </p>
        <p>Budget: {{ user_budget.budget.budget }} </p>
        <p>Current Balance: {{ user_budget.budget.balance }} </p>
        <p>Reset Date: {{ user_budget.budget.next_reset_date }} </p>
        <p>Days Until Reset: {{ user_budget.budget.countdown_to_reset }} </p>
        {% if user_budget.permission == user_budget.PERMISSION_OWNER %}
            <a href="{% url 'budget:change_budget_info' user_budget.budget.id %}">Edit Budget Account</a>
        {% endif %}
        <hr>
        <h2>Envelopes</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Budget</th>
                <th>Current Balance</th>
                <th>Actions</th>
            </tr>
            {% for envelope in envelopes %}
                <tr>
                    <td>{{ envelope.name }}</td>
                    <td>{{ envelope.get_category_display }}</td>
                    <td>{{ envelope.budget }}</td>
                    <td>{{ envelope.current_sum }}</td>
                    {% if user_budget.permission == user_budget.PERMISSION_OWNER %}
                        <td>
                            <a href="{% url 'budget:change_envelope_info' envelope.id %}">Edit</a>
                            <a href="{% url 'budget:delete-envelope' envelope.id %}">Delete</a>
                        </td>
                    {% else %}
                        <td></td>
                    {% endif %}
                </tr>
        {% endfor %}
        </table>
        {% if user_budget.permission == user_budget.PERMISSION_OWNER %}
            <a href="{% url 'budget:add-envelope' user_budget.budget.id %}">Add Envelope</a>
        {% endif %}
        <hr>
        <h2>Associated Users</h2>
        {% if user_budget.permission == user_budget.PERMISSION_OWNER %}
            <table>
                <tr>
                    <th>User Name</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Permission</th>
                    <th>Actions</th>
                </tr>
                {% for user in other_users %}
                    <tr>
                        <td>{{ user.user.email }}</td>
                        <td>{{ user.user.first_name }}</td>
                        <td>{{ user.user.last_name }}</td>
                        <td>{{ user.permission_str }}</td>
                        <td> </td>
                    </tr>
                {% endfor %}
            </table>

        {% else %}
            <p>No permission to see other users</p>
        {% endif %}

    {% else %}
        <p>No budget account found</p>
    {% endif %}
    <p><a href="{% url 'budget:log-out' %}">Logout</a></p>
</body>